/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext); */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);
body {
    overflow-y: hidden;
    overflow-x: hidden;
}
.parent{
    position: relative;
}
.wrap {
  margin: 0 auto;
}

.bg-image {
    background-image: url(https://lh3.googleusercontent.com/xekIovPZ9EwbUMRPBa2IyxlPFJ-EdQFKfCVGDvKUeiEh9z15pnXuEDkemNOUpVX9Frs=w412-h220-rw);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 1000px;
    width: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    transform: scale(1.1,1);

}


table {
  width: 850px;
  height: 600px;
  overflow-y:scroll;
  display: block;
  position: absolute;
  margin-top: 80px;
  margin-left: 50px;
  border-radius: 15px;
}

th {
  background: #f1f1f1;
  font-weight: bold;
  padding: 10px;
}
tr{
  background: #f1f1f1;
  font-weight: bold;
  padding: 6px;
}

td {
  background: #f9f9f9;
  padding: 6px;
}

.form{
  position: absolute;
	width:460px;
	height:450;
	background-color:  #545f60;
	margin:auto;
	border-radius: 5px;
	padding:20px;
	left:50%;
	top:50%;
	margin-left:-220px;
  margin-top:-270px;
}
  
input[type=text], select {
width: 70%;
padding: 10px;
border: 1px solid rgb(49, 197, 223);
border-radius: 4px;
resize: vertical;
margin-left: 50px;
margin-top: 10px;
text-align:right
}


input[type=date]{
  width: 70%;
  padding: 10px;
  border: 1px solid rgb(49, 197, 223);
  border-radius: 4px;
  resize: vertical;
  margin-left: 50px;
  margin-top: 10px;
  text-align:right
  
}

button{
background-color: #6edeef;
color: white;
width: 10%;
margin-top: 73%;
padding: 10px;
border: 1px solid rgb(49, 197, 223);
border-radius: 10px;
resize: vertical;
margin-left: 50px;
text-align:right;
}
.detail{
  background-color: #6edeef;
  color: white;
  width: 5%;
  margin-top: 80%;
  padding: 10px;
  border: 1px solid rgb(49, 197, 223);
  border-radius: 10px;
  resize: vertical;
  margin-left: 50px;
  text-align:right;
}
label {
padding: 25px 70px 12px 0;
display: block;
text-align: right;
}
  
input[type=submit] {
background-color: #6edeef;
color: white;
width: 70%;
padding: 10px;
border: 1px solid rgb(49, 197, 223);
border-radius: 4px;
resize: vertical;
margin-left: 50px;
margin-top: 10px;
text-align:right

}

input[type=submit]:hover {
background-color: #6edeef;
}

  
ul.tabs {
	width: 390px;
	height: 80px;
	margin: 0 auto;
	list-style: none;
	overflow: hidden;
  padding: 0;
  
}
ul.tabs li {	
	float: left;
	width: 130px;
}
ul.tabs li a {
	position: relative;
	display: block;
	height: 30px;
	margin-top: 40px;
	padding: 10px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: center;	
	text-decoration: none;
	color: #ffffff;
	background: #6edeef;
	-webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	   -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	        box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	        	border: 0px solid #000000;
	-webkit-transition: padding 0.2s ease, margin 0.2s ease;
       -moz-transition: padding 0.2s ease, margin 0.2s ease;
         -o-transition: padding 0.2s ease, margin 0.2s ease;
        -ms-transition: padding 0.2s ease, margin 0.2s ease;
            transition: padding 0.2s ease, margin 0.2s ease;
}
.tabs li:first-child a {
	z-index: 3;
  -webkit-border-top-left-radius: 8px;
-moz-border-radius-topleft: 8px;
border-top-left-radius: 8px;
}
.tabs li:nth-child(2) a {
	z-index: 2;
}
.tabs li:last-child a {
	z-index: 1;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	   -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	        box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-top-right-radius: 8px;
-moz-border-radius-topright: 8px;
border-top-right-radius: 8px;
}
ul.tabs li a:hover {
	margin: 35px 0 0 0;
	padding: 10px 0 5px 0;
}
ul.tabs li a.active {
	margin: 30px 0 0 0;
	padding: 10px 0 10px 0;
	background: #545f60;
	color: #6edeef;
	z-index: 4;
	outline: none;
}
.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.group:after {
    clear: both;
}
#content {
    width: 950px;
    height: 750px;
    margin: 0 auto;
    background: #545f60;
    -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
   	-moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
   	box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-radius: 10px;
    position: relative;
    z-index: 3;
    
}

.wrap {
  margin: 0 auto;
  
}

p{
  font-family: 'Open Sans', sans-serif;
  padding: 30px 40px;
  color: #ffffff;
  line-height: 26px;
  font-size: 18px;
  margin: 0;
}
#one {
}
#two {
  display: none;
}
#three {
  display: none;
}

